{% extends 'generic/object.html' %}
{% load buttons %}
{% load custom_links %}
{% load helpers %}
{% load filters %}
{% load perms %}
{% load plugins %}
{% load tabs %}

{% block content %}
  <div class="row">
    <div class="col col-12 col-xl-6">
      <div class="card">
        <h2 class="card-header">{{ object.assigned_object_type.name|capfirst}}</h2>
        <table class="table table-hover attr-table">
          <tr>
            <th>Manufacturer</th>
            <td>{{ object.assigned_object.manufacturer|linkify }}</td>
          </tr>
          <tr>
            <th>Object</th>
            <td>{{ object.assigned_object|linkify }}</td>
          </tr>
          <tr>
            <th>Description</th>
            <td>{{ object.assigned_object.description }}</td>
          </tr>
        </table>
      </div>
      <div class="card">
        <h2 class="card-header">Lifecycle Details</h2>
        <table class="table table-hover attr-table">
          <tr>
            <th scope="row">Product Notice</th>
            <td>
              {% if object.notice_url %}<span class="text-center"><a href="{{ object.notice_url }}" target="_blank">{{ object.assigned_object }} Notice</a>
                {% else %}<span class="text-muted">&mdash;{% endif %}
              </span>
            </td>
          </tr>
          <tr>
            <th scope="row">End of Sale</th>
            <td><span {{ object.end_of_sale|date_badge_class }}>{{ object.end_of_sale }}</span></td>
          </tr>
          <tr>
            <th scope="row">End of SW Maintenance</th>
            <td><span {{ object.end_of_maintenance|date_badge_class }}>{{ object.end_of_maintenance }}</span></td>
          </tr>
          <tr>
            <th scope="row">End of Security Vulnerability</th>
            <td><span {{ object.end_of_security|date_badge_class }}>{{ object.end_of_security }}</span></td>
          </tr>
          <tr>
            <th scope="row">End of Contract Attach</th>
            <td><span {{ object.last_contract_attach|date_badge_class }}>{{ object.last_contract_attach }}</span></td>
          </tr>
          <tr>
            <th scope="row">End of Contract Renewal</th>
            <td><span {{ object.last_contract_renewal|date_badge_class }}>{{ object.last_contract_renewal }}</span></td>
          </tr>
          <tr>
            <th scope="row">End of Support</th>
            <td><span {{ object.end_of_support|date_badge_class }}>{{ object.end_of_support }}</span></td>
          </tr>
        </table>
      </div>
      {% plugin_left_page object %}
      {% include 'inc/panels/tags.html' %}
    </div>
    <div class="col col-md-6">
      <div class="card">
        <h2 class="card-header">Related Objects</h2>
        <ul class="list-group list-group-flush" role="presentation">
          {% if object.assigned_object_type|stringformat:"s" == 'DCIM | device type' %}
            <a href="{% url 'dcim:device_list' %}?device_type_id={{ object.assigned_object.id }}" class="list-group-item list-group-item-action d-flex justify-content-between">
              Devices<span class="badge text-bg-primary rounded-pill">{{ object.assigned_object_count}}</span></a>
          {% elif object.assigned_object_type|stringformat:"s" == 'DCIM | module type' %}
            <a href="{% url 'dcim:device_list' %}?device_type_id={{ object.assigned_object.id }}" class="list-group-item list-group-item-action d-flex justify-content-between">
              Modules<span class="badge text-bg-primary rounded-pill">{{ object.assigned_object_count}}</span></a>
          {% endif %}
        </ul>
      </div>
      <div class="card">
        <h2 class="card-header">Business Planning</h2>
        <table class="table table-hover attr-table">
            <tbody>
              <tr>
                <th scope="row">Migration Product ID</th>
                <td>
                  {% if object.migration_pid %}<span class="text-center">{{ object.migration_pid }}{% else %}<span class="text-muted">&mdash;{% endif %}
                  </span>
                </td>
              </tr>
              <tr>
                <th scope="row">Migration Product Cost ({{ object.migration_pid_cost_currency|upper }})</th>
                <td>
                  {% if object.migration_pid_cost %}<span class="text-center">{{ object.migration_pid_cost }}{% else %}<span class="text-muted">&mdash;{% endif %}
                  </span>
                </td>
              </tr>
              <tr>
                <th scope="row">Budget Year</th>
                <td>
                  {% if object.calc_budget_year %}<span class="text-center">{{ object.calc_budget_year}}{% else %}<span class="text-muted">&mdash;{% endif %}
                  </span>
                </td>
              </tr>
              <tr>
                <th scope="row">Planned Replacement Year</th>
                <td>
                  {% if object.calc_replacement_year %}<span class="text-center">{{ object.calc_replacement_year}}{% else %}<span class="text-muted">&mdash;{% endif %}
                  </span>
                </td>
              </tr>
              <tr>
                <th scope="row">Dates Calculated from</th>
                <td>
                  {% if object.migration_calc_key %}<span class="text-center">{{ object.get_migration_calc_key_display|capfirst}}{% else %}<span class="text-muted">&mdash;{% endif %}
                  </span>
                </td>
              </tr>
        </table>
      </div>
      {% include 'inc/panels/custom_fields.html' %}
      {% include 'inc/panels/comments.html' %}
      {% plugin_right_page object %}
    </div>
  </div>
  <div class="row">
    <div class="col col-md-12">
      {% plugin_full_width_page object %}
    </div>
  </div>
{% endblock %}
