{% extends 'generic/object_edit.html' %}
{% load form_helpers %}
{% load static %}

{% block form %}

    <div class="field-group my-5">
      <div class="row mb-2">
        <h5 class="offset-sm-3">Assignment</h5>
      </div>
      <div class="row mb-2">
        <div class="offset-sm-3">
          <ul class="nav nav-pills" role="tablist">
            <li role="presentation" class="nav-item">
              <button role="tab" type="button" id="device_tab" data-bs-toggle="tab" aria-controls="device-type" data-bs-target="#device-type" class="nav-link {% if not form.initial.module_type %}active{% endif %}">
                Device Type
              </button>
            </li>
            <li role="presentation" class="nav-item">
              <button role="tab" type="button" id="vm_tab" data-bs-toggle="tab" aria-controls="module-type" data-bs-target="#module-type" class="nav-link {% if form.initial.module_type %}active{% endif %}">
                Module Type
              </button>
            </li>
          </ul>
        </div>
      </div>
      <div class="tab-content p-0 border-0">
        <div class="tab-pane {% if not form.initial.module_type %}active{% endif %}" id="device-type" role="tabpanel" aria-labeled-by="device_tab">
          {% render_field form.device_type %}
        </div>
        <div class="tab-pane {% if form.initial.module_type %}active{% endif %}" id="module-type" role="tabpanel" aria-labeled-by="vm_tab">
          {% render_field form.module_type %}
        </div>
      </div>
    </div>

    <div class="field-group my-5">
      <div class="row mb-2">
        <h5 class="offset-sm-3">Lifecycle Details</h5>
      </div>
      {% render_field form.notice_url label="Notice URL" %}
      {% render_field form.end_of_sale label="End of Sale" %}
      {% render_field form.end_of_maintenance label="End of SW Maintenance" %}
      {% render_field form.end_of_security label="End of Security Vulnerability" %}
      {% render_field form.last_contract_attach label="End of Contract Attach" %}
      {% render_field form.last_contract_renewal label="End of Contract Renewal" %}
      {% render_field form.end_of_support label="End of Support" %}
    </div>
    <div class="field-group my-5">
      <div class="row mb-2">
        <h5 class="offset-sm-3">Business Planning</h5>
      </div>
      {% render_field form.migration_pid label="Migration PID" %}
      {% render_field form.migration_pid_cost label="Migration PID Cost Est." %}
      {% render_field form.migration_pid_cost_currency label="Migration PID Cost Currency" %}
      {% render_field form.migration_calc_key label="Calculate Years from" %}
    </div>
    <div class="field-group my-5">
      {% render_field form.tags %}
    </div>
    {% if form.custom_fields %}
    <div class="field-group my-5">
        <div class="row mb-2">
          <h5 class="offset-sm-3">Custom Fields</h5>
        </div>
        {% render_custom_fields form %}
    </div>
    {% endif %}
{% endblock %}