{% extends 'generic/object.html' %}
{% load buttons %}
{% load custom_links %}
{% load helpers %}
{% load lcm_filters %}
{% load perms %}
{% load plugins %}
{% load tabs %}

{% block content %}
  <div class="row">
    <div class="col col-12 col-xl-6">
      <div class="card">
        <h2 class="card-header">{{ object.device.name}}</h2>
        <table class="table table-hover attr-table">
          <tr>
            <th>Manufacturer</th>
            <td>{{ object.device.manufacturer.name|linkify }}</td>
          </tr>
          <tr>
            <th>Device Type</th>
            <td>{{ object.device.device_type|linkify }}</td>
          </tr>
          <tr>
            <th>Serial Number</th>
            <td>{{ object.device.serial|linkify }}</td>
          </tr>
          <tr>
            <th>Description</th>
            <td>{{ object.device.description }}</td>
          </tr>
        </table>
      </div>
      <div class="card">
        <h2 class="card-header">Plan Details</h2>
        <table class="table table-hover attr-table">
          <tr>
            <th scope="row">Plan Type</th>
            <td>{{ object.get_plan_type_display }}</td>
          </tr>
          <tr>
            <th scope="row">Status</th>
            <td>{{ object.get_status_display }}</td>
          </tr>
          <tr>
            <th scope="row">Resourced by</th>
            <td>{{ object.get_resourcing_type_display|capfirst }}</td>
          </tr>
          <tr>
            <th scope="row">Planned Completion Date</th>
            <td><span {{ object.completion_by|date_badge_class }}>{{ object.completion_by }}</span></td>
          </tr>
          <tr>
            <th scope="row">Is Vendor Supported</th>
            <td>{{ object.is_supported }}</td>
          </tr>
        </table>
      </div>
    </div>
      {% plugin_left_page object %}
      {% include 'inc/panels/tags.html' %}
    </div>
      {% include 'inc/panels/custom_fields.html' %}
      {% include 'inc/panels/comments.html' %}
      {% plugin_right_page object %}
    </div>
  </div>
  <div class="row">
    <div class="col col-md-12">
      {% plugin_full_width_page object %}
    </div>
  </div>
{% endblock %}
