{% extends 'generic/object.html' %}
{% load buttons %}
{% load custom_links %}
{% load helpers %}
{% load perms %}
{% load plugins %}
{% load tabs %}

{% block content %}
  <div class="row">
    <div class="col col-md-6">
      <div class="card">
        <h5 class="card-header">Software Product</h5>
        <div class="card-body">
          <table class="table table-hover attr-table">
            <tr>
              <th>Product</th>
              <td>{{ object.product }}</td>
            </tr>
            <tr>
              <th>Version</th>
              <td>{{ object.version }}</td>
            </tr>
            <tr>
              <th>Device Type</th>
              <td>{{ object.device_type }}</td>
            </tr>
            <tr>
              <th>Device Role</th>
              <td>{{ object.device_role }}</td>
            </tr>
            <tr>
              <th>Status</th>
              <td>{{ object.version_status }}</td>
            </tr>
            <tr>
              <th>Notes</th>
              <td>{{ object.notes }}</td>
            </tr>
          </table>
        </div>
      </div>
      {% plugin_left_page object %}
      {% include 'inc/panels/tags.html' %}
    </div>
    <div class="col col-md-6">
      {% include 'inc/panels/related_objects.html' %}
      {% include 'inc/panels/custom_fields.html' %}
      {% include 'inc/panels/comments.html' %}
      {% plugin_right_page object %}
    </div>
  </div>
  <div class="row">
    <div class="col col-md-12">
      {% plugin_full_width_page object %}
    </div>
  </div>
{% endblock %}
